/* Variáveis de cores, etc ... */
:root {
    --nav-bar-size: 64px;
}

body {
    /* Configura o elemento para ocupar 100% do espaço vertical */
    width: 100%;
    /* Retira todos os espaços */
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    /* Esconde o conteúdo fora da janela (horizontalmente) */
    overflow-x: hidden;

    background-color: var(--background);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Seção */
.body-section {
    width: 100%;
}

/* Seção: Cabeçalho */
.body-header {
    max-height: var(--nav-bar-size);
}

/* Seção: Conteúdo */
.body-content {
    /* Flexbox */
    flex: 1;
}

/* Seção: Rodapé */
/* .body-footer {} */

/* Inverte a cor dos ícones no modo escuro */
[data-bs-theme="dark"] .dark-toggle,
[data-bs-theme="dark"] .social-icon {
    filter: invert();
}

.dark-toggle {
    width: 16px;
    height: 16px;
}

.social-icon {
    width: 32px;
    height: 32px;
}

.icon-24px {
    width: 24px;
    height: 24px;
}

.big-text {
    font-size: 10rem;
}

.background-404 {
    background: repeating-linear-gradient(45deg,
            var(--bs-secondary-bg),
            var(--bs-secondary-bg) 10px,
            var(--bs-body-bg) 10px,
            var(--bs-body-bg) 20px);
}