.limit_login_form {
    max-width: 400px;
}

.body-modal {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    inset: 0 0 0 0;
}

#content-div {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
}