/*
 * Nesse arquivo estão todos os estilos de css que são reutilizaveis em todas as páginas
 */

/* Variáveis de cores, etc ... */
:root {
    --nav-bar-size: 64px;
}

body {
    /* Configura o elemento para ocupar 100% do espaço vertical */
    width: 100%;
    /* Retira todos os espaços */
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    /* Esconde o conteúdo fora da janela (horizontalmente) */
    overflow-x: hidden;

    background-color: var(--background);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Seção */
.body-section {
    width: 100%;
}

/* Seção: Cabeçalho */
.body-header {
    max-height: var(--nav-bar-size);
}

/* Seção: Conteúdo */
.body-content {
    /* Flexbox */
    flex: 1;
    min-height: calc(100vh - var(--nav-bar-size));
}

/* Seção: Rodapé */
/* .body-footer {} */

/* Inverte a cor dos ícones no modo escuro */
[data-bs-theme="dark"] .icon-dark,
[data-bs-theme="dark"] .dark-toggle,
[data-bs-theme="dark"] .social-icon {
    filter: invert();
}

.icon-16px,
.dark-toggle {
    width: 16px;
    height: 16px;
}

.icon-24px {
    width: 24px;
    height: 24px;
}

.icon-32px,
.social-icon {
    width: 32px;
    height: 32px;
}

.avoid-large {
    max-width: 600px;
}