/*
 * Nesse arquivo estão todos os estilos de css que são reutilizaveis em todas as páginas
 */

/* Variáveis de cores, etc ... */
:root {
    --nav-bar-size: 64px;
}

body {
    /* Configura o elemento para ocupar 100% do espaço vertical */
    width: 100%;
    /* Retira todos os espaços */
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    /* Esconde o conteúdo fora da janela (horizontalmente) */
    overflow-x: hidden;

    background-color: var(--background);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Seção */
.body-section {
    width: 100%;
}

/* Seção: Cabeçalho
    Disabled for now
    This setting causes expanded statusbar to not have a background
.body-header {
    max-height: var(--nav-bar-size);
}
*/

/* Seção: Conteúdo */
.body-content {
    /* Flexbox */
    flex: 1;
    min-height: calc(100vh - var(--nav-bar-size));
}

/* Seção: Rodapé */
/* .body-footer {} */

/* Inverte a cor dos ícones no modo escuro */
[data-bs-theme="dark"] .icon-dark,
[data-bs-theme="dark"] .dark-toggle,
[data-bs-theme="dark"] .social-icon {
    filter: invert();
}

.fixed-filter-invert {
    filter: invert();
}

.icon-16px,
.dark-toggle {
    width: 16px;
    height: 16px;
}

.icon-24px {
    width: 24px;
    height: 24px;
}

.icon-32px,
.social-icon {
    width: 32px;
    height: 32px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    background-color: var(--bs-secondary-bg);
}

.avoid-large {
    max-width: 600px;
}

.navbar-brand p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.popup {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(12px);
}

.popup div.card {
    max-width: 500px;
    max-height: 500px;
}

.profile-modal {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    inset: 0 0 0 0;
}

.inner-profile-modal {
    height: 200px;
    width: 200px;
    right: 0;
    top: 0;
}

.inner-profile-modal img {
    max-width: 100px;
    max-height: 100px;
    height: 100px;
    width: 100px;
    background-color: darkslateblue;
}

main {
    position: relative;
}
