/* Váriaveis de cores, etc ... */

:root {
    --background: #1e1e1e;
    --bg-header: #1e1e1e;
    --bg-content: #1e1e1e;
    --bg-footer: #1e1e1e;
}

/* Configura o espaço de margens e paddings ocupar o espaço interno
    Desabilitado pois já esta incluido no bootstrap
* { 
    box-sizing: border-box;
}*/

body {
    /* Configura o elelemento para ocupar 100% do espaço vertical */
    width: 100%;
    /* Retira todos os espaços */
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    /* Esconde o conteúdo fora da janela (horizontalmente) */
    overflow-x: hidden;

    background-color: var(--background);
}

.body-section {
    /* Configura o elelemento para ocupar 100% do espaço vertical */
    width: 100%;
    display: flex;
}

/* Set all text white */
.body-section h1,
.body-section h2,
.body-section p {
    color: white;
}

.body-header {
    padding: 8px;
    background-color: var(--bg-header);
}

.body-content {
    background-color: var(--bg-content);
}

.body-footer {
    padding: 8px;
    background-color: var(--bg-footer);
}