/* Variáveis de cores, etc ... */

/* Configura o espaço de margens e paddings ocupar o espaço interno
    Desabilitado pois já esta incluído no bootstrap
* { 
    box-sizing: border-box;
}*/

body {
    /* Configura o elemento para ocupar 100% do espaço vertical */
    width: 100%;
    /* Retira todos os espaços */
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    /* Esconde o conteúdo fora da janela (horizontalmente) */
    overflow-x: hidden;

    background-color: var(--background);
}

.body-section {
    /* Configura o elemento para ocupar 100% do espaço vertical */
    width: 100%;
    display: flex;
    background-color: var(--bs-body-bg);
}

.body-header {
    padding: 8px;
}

/*
.body-content {
}
*/

.body-footer {
    padding: 8px;
}

.dark-toggle {
    width: 16px;
    height: 16px;
}

[data-bs-theme="dark"] .dark-toggle {
    filter: invert();
}